<div class="container-fluid outerBox">
      <div class="row my-4">
            <span class="col text-left font-weight-bold span"> All Invoices</span>
            <span class="col text-right">
                  <a routerLink="/new-invoice" routerLinkActive="active" class="btn newBtn text-light" (click)="newBtnClicked()"><i class="fa fa-plus"
                              aria-hidden="true"></i>&nbsp;New</a>
            </span>
      </div>
      <div class="row" id="content">
            <table class="table table-hover border-top text-center">
                  <thead>
                        <tr>
                              <th scope="col">DATE</th>
                              <th scope="col">INVOICE#</th>
                              <th scope="col">ORDER NUMBER</th>
                              <th scope="col">CUSTOMER NAME</th>
                              <th scope="col">STATUS</th>
                              <th scope="col">DUE DATE</th>
                              <th scope="col">AMOUNT</th>
                              <th scope="col">BALANCE DUE</th>
                        </tr>
                  </thead>
                  <tbody>

                        <tr style="cursor:pointer;" *ngFor="let ele of this.invoices" (click)="editInvoice(ele)">
                              <td>{{ele.Inv_dt}}</td>
                              <td class="text-primary">{{ele.Inv_num}}</td>
                              <td>{{ele.Ord_num}}</td>
                              <td>{{ele.Cus_nm}}</td>
                              <!-- <td class="fw-light">{{ele.status}}</td> -->
                              <td class="fw-light">{{ele.st}}</td>
                              <td>{{ele.Due_dt}}</td>
                              <td>₹{{ele.Grd_tot}}</td>
                              <!-- <td>{{ele.Grd_tot}}</td> -->
                              <td><!-- Ask --></td>
                        </tr>
                  </tbody>
            </table>
      </div>
</div>
<!-- <button (click)="refreshInvoiceList()">Click Here</button> -->